.modal-content {
    background-color: #fffdcc;
}

#black-border {
    border: 2px solid black;
}

.modal-footer {
    display: auto;
    border: none;
}

.modal-body {
    font-weight: bold;
}

.modal-header {
    border: none;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color:#00b0f0;
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color:#00b0f0;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color:#00b0f0;
}

.navbar-toggler {
    border: 2px solid #00b0f0!important;
}

.form-control {
    width: 75%;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 176, 240, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-dark {
    background-color: black!important;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F8F8F8;
}

.jumbotron {
  background-image: url("/static/images/denver-sf-mobile2.jpg");
  background-size: 100% 100%;
  color: White;
  text-shadow: -1px 0 #00b0f0, 0 1px #00b0f0, 1px 0 #00b0f0, 0 -1px #00b0f0;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.content {
    margin-top: 32px;
}

.padding-left {
    padding-left: 5px;
}

.padding-left-mobile {
    padding-left: 5px;
}

.padding-right {
    padding-right: 5px;
}

.btn-primary {
    background-color:  #00b0f0;
    font-weight: bold;
    margin: 10px;
    border: 2px solid #fffdcc;
    font-size: 0.9rem;
    color: black;
}

.btn-primary a {
    color: black;
    display: block;
}


.btn-primary:hover {
    background-color: #fffdcc;
    border: 2px solid #00b0f0;
    color: black;
}

.btn-primary a:active {
    background-color: #fffdcc;
}

#center2 {
    text-align: center;
}

.form-control {
    background-color: #F8F8F8;
    width: 100%;
}

.form-row {
    margin-left: 0;
    margin-right: 0;
}

.lead {
    text-shadow: none;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.black-background {
    background-color: black;
    border-radius: 10px;
}

.form-color {
    color: #fffdcc;
}

.homepage-image {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.object {
    color: #00b0f0;
    margin-bottom: 4px;
}

.value {
    color: #fffdcc;
    margin-bottom: 8px;
}

.hide {
    display: none;
}
.about {
    color: #fffdcc;
    padding-top: 10px;
}

#text {
    background-color: black;
}

#imageAbout {
    width: 80%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#headerAbout {
    color: #00b0f0;
    text-align: center;
}

.yellow-underline {
    border-bottom: 1px solid #F8F8F8;
    padding-bottom: 5px;

}

#no-padding {
    padding-left: 3px;
    padding-right: 3px;
}

.display-2 {
    margin-bottom: 20px;
}

header {
    margin-top: 1px;
}

.header-content {
    font-size: 1.1em;
}

.footer {
    color:  #00b0f0;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    margin-bottom: 1px;
    margin-top: 32px;
    text-align: center;
}

.footer a{
    padding-left: 25px;
    padding-right: 25px;
    color: #00b0f0;
}



 @media(min-width: 1500px){
body {
    margin-left: 200px;
    margin-right: 200px;
    }
}

@media (min-width: 576px){
.jumbotron {
    background-image: url("/static/images/denver-sf.jpg");
}
.yellow-underline {
    text-align: center;
    }
.padding-left-mobile {
    padding-left: 0;
    }
.object {
    margin-bottom: 8px;
    }
.display-2 {
    margin-bottom: 40px;
    }
.jumbotron {
    padding-top: 32px;
    padding-bottom: 32px;
    }
.lead {
    margin-bottom: 20px;
    }
.header-content {
    font-size: 1.2rem;
    }
.main-content {
    font-size: 1.1rem;
    }
.btn-primary {
    font-size: 1rem;
    }
}