    {% extends 'base.html' %}
    {% block content %}

         <div class="container-fluid content">
            <div class="row black-background main-content">
                <div class="col-12 yellow-underline"><h1 id="headerAbout">About</h1></div>
            </div>
                <div class="row about black-background main-content">
                    <div class="col-8"><p>This page is made for fans of On the Road, the classic noval written bij Jack Kerouac and first publiced in 1957.
                        Kerouac was a member of the Beat-generation and On the Road is based on the trips he made with other Beats,
                        trying to discover America and themselves.</p>
                        <p>Kerouac, in the book called Sal Paradise, took multiple car-trips from west to east and back.
                        On those trips he roamed the streets of New York, Chicago, Denver, San Francisco and Los Angeles (a.o.).</p>
                        <p>A lot of the places Sal and his friends visited are still there and people from around the world visit them
                        to get a real sense of the setting of the book. To see what Sal and Dean saw and maybe even feel what they felt
                        in local jazz-clubs and on the long and empty roads.</p>
                        <p>On this page you can find places you can go to themselves and read what other people who visited it think of it.
                        And you can enter your own experience so other people can read it and maybe follow in your footsteps.</p></div>
                    <div class="col-4"><img id="imageAbout" src="static/images/on-the-road-2006.jpg"></div>
                </div>
         </div>

    {% endblock %}