<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="discription" content="What do the famous places from Jack Kerouac's On the Road look like now?">
    <meta name="keywords" content="Jack Kerouac, On the Road, Sal Paradise, Dean Moriarty, books, roadtrip, USA">
    <meta name="author" content="Peter Lenting">

    <!-- Style Sheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <!-- Favicon File -->
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.jpg">

    <!-- Page Title -->
    <title>Chasing Jack Kerouac - Finding the most iconic places Sal and Dean roamed</title>

</head>

<body>
       <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ (url_for('get_index')) }}">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ (url_for('about')) }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ (url_for('addlocation')) }}">Add location<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <h1 class="display-2">Chasing Jack Kerouac</h1>
                <p class="lead">About 70 years ago Jack Kerouac travelled America.<br>
                                He than wrote a book that inspired millions: On the Road.<br>
                                What do the places Sal Paradise and Dean Moriarty roamed look like now?<br>
                                Check it out right here and add your own experience!
                </p>
            </div>
        </div>
    </header>
    <div class="container-fluid black-background form-color">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">City</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>New York City (NY)</option>
                        <option>Denver (CO)</option>
                        <option>Mexico City (MEX)</option>
                        <option>San Francisco (CA)</option>
                        <option>Los Angeles (CA)</option>
                        <option>Chicago (IL)</option>
                        <option>Pittsburgh (PA)</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCity">Location</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="What specific place are we talking about?">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCity">Date</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="mm/dd/yy">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState">Part of the book</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>Part 1</option>
                        <option>Part 2</option>
                        <option>Part 3</option>
                        <option>Part 4</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">Chapter of the book</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>Chapter 1</option>
                        <option>Chapter 2</option>
                        <option>Chapter 3</option>
                        <option>Chapter 4</option>
                        <option>Chapter 5</option>
                        <option>Chapter 6</option>
                        <option>Chapter 7</option>
                        <option>Chapter 8</option>
                        <option>Chapter 9</option>
                        <option>Chapter 10</option>
                        <option>Chapter 11</option>
                        <option>Chapter 12</option>
                        <option>Chapter 13</option>
                        <option>Chapter 14</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress2">Quote in book</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="What does Jack Kerouac write about this place?">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputAddress2">My name</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="What's your name?">
                </div>
                <div class="form-group col-md-9">
                    <label for="inputAddress2">My experience</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Tell us about your own experience">
                </div>
            </div>
            <div class="submit-button">
            <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </form>
     </div>
    <footer>
        <div class="footer">
            <p>Copyright and stuf like that, maybe some social buttons</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>
</body>
</html>