    {% extends 'base.html' %}
    <!--Contains header and footer-->
    {% block content %}

 <div class="black-background form-color content">
 <!-- Form to fill in, output shows on index.html -->
        <form action="{{url_for('update_addition', addition_id=additions._id)}}" method="POST">
            <div class="form-row">
                <!-- Current date (read only) -->
                <div class="form-group col-md-6 col-lg-2">
                    <label for="inputDate">Current Date</label>
                    <div class="input-group date" id="datetimepicker5" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker5" id="current_date" name="current_date" value="{{additions.current_date}}" readonly/>
                    </div>
                </div>
                <!-- Edit City -->
                <div class="form-group col-md-6 col-lg-4">
                    <label for="inputCity">City</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="What city are we talking about?" value="{{additions.city}}" required>
                </div>
                <!-- Edit Location -->
                <div class="form-group col-md-6 col-lg-4">
                    <label for="inputCity">Location</label>
                    <input type="text" id="location" name="location" class="form-control" placeholder="What specific place are we talking about?" value="{{additions.location}}" required>
                </div>
                <!-- Edit Date of experience -->
                <div class="form-group col-md-6 col-lg-2">
                    <label for="inputDate">Date of experience</label>
                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" id="date" name="date" value="{{additions.date}}" required/>
                        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <!-- Edit My nam -->
                <div class="form-group col-md-4">
                    <label for="inputName">My name</label>
                    <input type="text" class="form-control" id="name_visitor" name="name_visitor" placeholder="What's your name?" value="{{additions.name_visitor}}" required>
                </div>
                <!-- Edit Part of the book -->
                <div class="form-group col-md-4">
                    <label for="inputPart">Part of the book</label>
                    <select id="part_of_book" name="part_of_book" class="form-control" required>
                        <option value="" disabled selected>Choose...</option>
                        {% for category_part in categories %}
                            {% if category_part.category_part == additions.part_of_book %}
                            <option value="{{category_part.category_part}}" selected >{{category_part.category_part}}</option>
                            {% else %}
                            <option value="{{category_part.category_part}}">{{category_part.category_part}}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- Edit Chapter of the book -->
                <div class="form-group col-md-4">
                    <label for="inputChapter">Chapter in the book</label>
                    <select id="chapter_in_book" name="chapter_in_book" class="form-control" required>
                        <option value="" disabled selected>Choose...</option>
                        {% for chapter in chapters %}
                            {% if additions.chapter_in_book == chapter.chapter %}
                            <option value="{{chapter.chapter}}" selected >{{chapter.chapter}}</option>
                            {% else %}
                            <option value="{{chapter.chapter}}">{{chapter.chapter}}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <!-- Edit Quote in book -->
                <div class="form-group col-md-6">
                    <label for="inputQuote">Quote in book</label>
                    <textarea id="quote_in_book" name="quote_in_book" class="form-control" placeholder="What does Jack Kerouac write about this place?" required>{{additions.quote_in_book}}</textarea>
                </div>
                <!-- Edit My Experience -->                
                <div class="form-group col-md-6">
                    <label for="inputExperience">My experience</label>
                    <textarea id="experience" name="experience" class="form-control" placeholder="Tell us about your own experience" required>{{additions.experience}}</textarea>
                </div>
            </div>
            <div class="submit-button" id="center2">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
     </div>

  {% endblock %}