    {% extends 'base.html' %}
    {% block content %}

    <div class="black-background form-color content">
        <form action="{{url_for('insert_location')}}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputCity">City</label>
                    <select id="city" name="city" class="form-control" required>
                        <option selected>Choose...</option>
                        <option>New York City (NY)</option>
                        <option>Denver (CO)</option>
                        <option>Mexico City (MEX)</option>
                        <option>San Francisco (CA)</option>
                        <option>Los Angeles (CA)</option>
                        <option>Chicago (IL)</option>
                        <option>Pittsburgh (PA)</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCity">Location</label>
                    <input type="text" id="location" name="location" class="form-control" placeholder="What specific place are we talking about?" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputDate">Date of experience</label>
                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" id="date" name="date" required/>
                        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPart">Part of the book</label>
                    <select id="part_of_book" name="part_of_book" class="form-control" required>
                        <option selected>Choose...</option>
                        <option>Part 1</option>
                        <option>Part 2</option>
                        <option>Part 3</option>
                        <option>Part 4</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputChapter">Chapter of the book</label>
                    <select id="chapter_in_book" name="chapter_in_book" class="form-control" required>
                        <option selected>Choose...</option>
                        <option>Chapter 1</option>
                        <option>Chapter 2</option>
                        <option>Chapter 3</option>
                        <option>Chapter 4</option>
                        <option>Chapter 5</option>
                        <option>Chapter 6</option>
                        <option>Chapter 7</option>
                        <option>Chapter 8</option>
                        <option>Chapter 9</option>
                        <option>Chapter 10</option>
                        <option>Chapter 11</option>
                        <option>Chapter 12</option>
                        <option>Chapter 13</option>
                        <option>Chapter 14</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputQuote">Quote in book</label>
                    <input type="text" class="form-control" id="quote_in_book" name="quote_in_book" placeholder="What does Jack Kerouac write about this place?" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputName">My name</label>
                    <input type="text" class="form-control" id="name_visitor" name="name_visitor" placeholder="What's your name?" required>
                </div>
                <div class="form-group col-md-9">
                    <label for="inputExperience">My experience</label>
                    <input type="text" class="form-control" id="experience" name="experience" placeholder="Tell us about your own experience" required>
                </div>
            </div>
            <div class="submit-button">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
     </div>
  {% endblock %}