    {% extends 'base.html' %}
    {% block content %}


        {% for addition in additions %}
        <div class="content black-background">
            <div class="row header-content">
                <div class="col-12 yellow-underline" id="no-padding">
                    <div class="row padding-left-mobile">
                        <div class="col-6 col-md-3" id="no-padding">
                            <span class="object">City: </span><br>
                            <span class="value">{{addition.city}}</span>
                        </div>

                        <div class="col-6 col-md-3" id="no-padding">
                            <span class="object">Location: </span><br>
                            <span class="value">{{addition.location}}</span>
                        </div>

                        <div class="col-6 col-md-3" id="no-padding">
                            <span class="object">Visit date: </span><br>
                            <span class="value">{{addition.date}}</span>
                        </div>
                        <div class="col-6 col-md-3" id="no-padding">
                            <span class="object">Name visitor: </span><br>
                            <span class="value">{{addition.name_visitor}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row main-content padding-left">
                <div class="col-md-6" id="no-padding">
                    <div class="row">
                        <div class="col-md-3" id="no-padding">
                            <p class="object">Part of book:</p>
                        </div>
                        <div class="col-md-9" id="no-padding">
                            <p class="value">{{addition.part_of_book}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" id="no-padding">
                            <p class="object">Quote in book:</p>
                        </div>
                        <div class="col-md-9" id="no-padding">
                            <p class="value">{{addition.quote_in_book}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="no-padding">
                    <div class="row">
                        <div class="col-md-3" id="no-padding">
                            <p class="object">Chapter in book:</p>
                        </div>
                        <div class="col-md-9" id="no-padding">
                            <p class="value">{{addition.chapter_in_book}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" id="no-padding">
                            <p class="object">Own experience:</p>
                        </div>
                        <div class="col-md-9" id="no-padding">
                            <p class="value">{{addition.experience}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row main-content">
                <div class="col-12 text-center" id="no-padding">
                    <div class="submit-button">
                        <button class="btn btn-primary"><a href="{{url_for('edit_addition', addition_id=addition._id)}}">Edit</a></button>
                        <button class="btn btn-primary"><a href="{{url_for('delete_addition', addition_id=addition._id)}}">Delete</a></button>
                    </div>
                </div>
            </div>
        </div>

            {% endfor %}
    {% endblock %}