    {% extends 'base.html' %}
    {% block content %}

    <div class="container-fluid">
        {% for hallmark in additions %}
        <div class="content">
            <div class="row black-background header-content">
                <div class="col-12">
                    <div class="row yellow-underline">
                        <div class="col-4">
                            <span class="object">City: </span><br>
                            <span class="value">{{hallmark.city}}</span>
                        </div>

                        <div class="col-4">
                            <span class="object">Location: </span><br>
                            <span class="value">{{hallmark.location}}</span>
                        </div>

                        <div class="col-4">
                            <span class="object">Visit date: </span><br>
                            <span class="value">{{hallmark.date}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row black-background main-content">
                <div class="col-8">
                    <div class="row">
                        <div class="col-5">
                            <p class="object">Part of book:</p>
                        </div>
                        <div class="col-7">
                            <p class="value">{{hallmark.part_of_book}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="object">Chapter in book:</p>
                        </div>
                        <div class="col-7">
                            <p class="value">{{hallmark.chapter_in_book}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="object">Quote in book:</p>
                        </div>
                        <div class="col-7">
                            <p class="value">{{hallmark.quote_in_book}}</p>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-5">
                                <p class="object">Name visitor:</p>
                            </div>
                            <div class="col-7">
                                <p class="value">{{hallmark.name_visitor}}</p>
                                </div>
                            </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="object">Experience:</p>
                        </div>
                        <div class="col-7">
                            <p class="value">{{hallmark.experience}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img class="homepage-image" src="static/images/coit-tower.jpg">
                </div>
            </div>
        </div>
            {% endfor %}
    </div>
    {% endblock %}