    {% extends 'base.html' %}
    {% block content %}

    <div class="container-fluid">
       <div class="row">
        <h2>What do we have for {{ query }}:</h2>
        </div>
        <div>
            {% for addition in additions %}
                <div>
                    <p href="#{{addition.name}}">
                        {{addition.experience}}<br>
                        {{hallmark.city}}<br>
                        <span>{{addition.date}} | Reported by: {{additon.name}}</span>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
